<p class="text-center">  
  <%#= link_to 'New Application', new_applicant_registration_path, :class => "btn btn-large btn-block btn-primary" %>
  <%#= link_to "New Application", welcome_path, :class => "btn btn-large btn-block btn-primary"%>
  <%#= link_to 'Applicant Sign In', new_applicant_session_path, :class => "btn btn-large btn-block" %>
  <%#= link_to 'Student Sign In', new_student_session_path, :class => "btn btn-large btn-block" %>
  <%= link_to 'Enter', user_session_path, :class => "btn btn-primary" %>
</p>
